#login-page, #registrer-deg {
  background-color: $positive;

  .signup-size {
    font-size: 40px;
  }

  .text-error {
    color:white;
    font-weight: bold;
  }

  .logo {
    font-size: 10em;
    color:white;

    h1 {
      color:white;
      margin: 0px;
      padding: 0px;
    }


  }
}
