#overview {

	.bar-subheader-override {
		padding: 0px;
	}

	.bar-subheader-override .button-bar .button {
	 	//background-color: red;
	 	padding-bottom: 4px;
	 	padding-top: 4px;
	 	border-radius: 0px;
    line-height: 38px;
	}

  .button-bar {
    height: 100%;
  }

  button.button.active {
		//background-color: lighten($positive, 30%);
	}
}
