#profile-page {
  .profile-header {
    background-color: $positive;
    min-height: 300px;
    color:white;
    position:relative;

    h1,h2,h3,h4,h5 {
      color:white;
    }

    .score {
      margin-top:20px;
      width:100%;
      text-align: center;
      position: absolute;
      bottom:10px;
      left:0px;
      font-size: 20px;
    }

    .profile-picture {
      img:first-child {
        margin-top: 50px;
        max-width: 140px;
        max-height: 140px;
        border-radius: 50%;
        border:5px solid white;
      }
    }
  }

  .icon-faded {
    opacity: 0.1;
  }

  .icon-large {
    font-size:10em;
  }

  .subtle-header {
    opacity: 0.5;
    font-size:1.1em;
  }
}
