#register-case {
  background-color: #f5f5f5;

  .item-divider {
    padding-top: 2em;

    &:first-child {
      border-top: none;
    }
  }

  .thumbnails {
    height: 200px;
    text-align: center;
    color: $positive;

    div {
      padding-top: 2.2em;
    }

    i {
      font-size: 3em;
    }

    img {
      height: 100%;
    }
  }

  .item-stacked-label {
    background-color: white;
  }

  input {
    text-align: right;
  }

  textarea {
    height: 4em;
  }
}
