#selected-location {
  .scroll {
    height: 100%;
  }

  #map {
    width: 100%;
    height: -webkit-calc(100% - 47px);
    height: calc(100% - 47px);
  }

  .navigate-button {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 100000;
  }

  .spinner-icon {
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 99999;
  }
}
