<ion-view title="Oversikt" id="overview">
    <ion-nav-buttons side="secondary">
        <a style="color: white;" class="button button-icon icon ion-map" href="#/page1/map"></a>
    </ion-nav-buttons>
    <<div class="bar bar-subheader bar-subheader-override">
        <div class="button-bar">
            <button data-ng-click="updateFilter('popular')" class="button" data-ng-class="{'active' : filter === 'popular'}">Populære</button>
            <button data-ng-click="updateFilter('newest')" class="button" data-ng-class="{'active' : filter === 'newest'}">Nyeste</button>
            <button data-ng-click="updateFilter('closest')" class="button" data-ng-class="{'active' : filter === 'closest'}">Nærmeste</button>
        </div>
    </div>
    <ion-content class="has-header has-subheader" delegate-handle="pullToRefresh-content" id="overview_content">
        <ion-refresher pulling-text="Dra for å oppdater..." on-refresh="refresh()">

        </ion-refresher>
        <ion-list data-ng-repeat="case in cases">
            <case-list-item data-model="case" data-module="overview"></case-list-item>
        </ion-list>
    </ion-content>
</ion-view>
