<ion-view title="INNLOGGING" id="login-page" border="false">
  <ion-content padding="true" class="has-header">
   <div class="logo">
    <center>
     <i class="ion-android-contacts"></i>
     <h1>MinBy</h1>
     </center>
     <div class="spacer" style="height: 40px;"></div>

   </div>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">E-post</span>
          <input type="text" placeholder="" data-ng-model="vm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Passord</span>
          <input type="password" placeholder="" data-ng-model="vm.password">
        </label>
      </ion-list>
      <div class="row">
        <div class="col">
          <button id="loggInn-button6" class="button button-dark  button-block" data-ng-click="login()">Logg inn</button>
        </div>
      </div>
      <center>
        <span data-ng-if="error" class="text-error">{{error}}</span>
      </center>
      <div class="row">
        <div class="col">
          <a href="#" ui-sref="tabsController.register" id="loggInn-button7" class="button button-calm button-block button-clear">Registrer deg</a>
        </div>
      </div>
      <div class="row">
        <div class="col"><button id="loggInn-button8" class="button button-calm button-block signup-size"><i class="ion-social-facebook"></i></button></div>
        <div class="col"><button id="loggInn-button9" class="button button-calm  button-block signup-size"><i class="ion-social-twitter"></i></button></div>
      </div>


    </form>
  </ion-content>
</ion-view>
