<ion-view title="Ny Sak" id="register-case">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="submit()">
      Send inn
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="item item-divider">
      Beskrivelse av feil
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
        Tema
      </div>
      <select ng-model="newItem.selectedTopic" ng-options="topic as topic.title for topic in topics">
      </select>
    </label>

    <label class="item item-input item-select" ng-show="newItem.selectedTopic">
      <div class="input-label">
        Problem
      </div>
      <select ng-model="newItem.selectedProblem" ng-options="problem as problem.title for problem in problems">
      </select>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Beskrivelse:</span>
      <textarea placeholder="" ng-model="newItem.description"></textarea>
    </label>

    <div class="item item-body thumbnails" ng-click="addPicture()">
      <img ng-src="{{newItem.imageData}}" ng-show="newItem.imageData">
      <div ng-hide="newitem.imageData">
        <i class="icon ion-camera"></i><br>
        Trykk her for å legge til bilde
      </div>
    </div>

    <div class="item item-divider">
      Observasjonssted
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
        Type
      </div>
      <select ng-model="newItem.selectedLocationType" ng-options="locationType as locationType.title for locationType in locationTypes">
      </select>
    </label>

    <label class="item item-input">
      <span class="input-label">
        Adresse
      </span>
      <input type="text" placeholder="" ng-model="newItem.address">
    </label>

    <a class="item positive text-center" ng-click="addLocation()">
      Vis kart
    </a>

    <div ng-hide="isLoggedIn">
      <div class="item item-divider">
        Meldt av
      </div>

      <label class="item item-input">
        <span class="input-label">
          Navn
        </span>
        <input type="text" placeholder="Påkrevd" ng-model="newItem.name">
      </label>

      <label class="item item-input">
        <span class="input-label">
          Telefon
        </span>
        <input type="tel" placeholder="Påkrevd" ng-model="newItem.phoneNumber">
      </label>

      <label class="item item-input">
        <span class="input-label">
          E-post
        </span>
        <input type="email" placeholder="" ng-model="newItem.email">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Tilbakemelding
        </div>
        <select ng-model="newItem.selectedFeedbackMethod" ng-options="feedbackMethod as feedbackMethod.title for feedbackMethod in feedbackMethods">
        </select>
      </label>
    </div>

  </ion-content>
</ion-view>
