<ion-modal-view id="selected-location">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="cancel()">Avbryt</button>
    </div>
    <h1 class="title">Velg lokasjon</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="save()">Lagre</button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">
    <button class="button button-small button-icon icon ion-navigate navigate-button" ng-click="getCurrentLocation()" ng-hide="locating"></button>
    <ion-spinner class="spinner-icon" icon="ios-small" ng-show="locating"></ion-spinner>

    <label class="item item-input address">
      <i class="icon ion-home placeholder-icon"></i>
      <input type="text" placeholder="Adresse" ng-model="inputs.address">
    </label>

    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-modal-view>
