 <ion-view title="Min Profil" id="profile-page" hide-nav-bar="true">

    <ion-content padding="false">
        <!--<a ui-sref="tabsController.registrerDeg" id="minProfil-button4" class="button button-positive  button-block">Registrer deg</a>
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>-->
        <div class="profile-header">
           <center>
             <div data-ng-if="loggedIn">
               <div class="profile-picture">
                 <img src="http://lorempixel.com/200/200/people" width="200" height="200"/>
               </div>
               <h1>{{user.name}}</h1>
             </div>
             <div data-ng-if="!loggedIn">
               <div class="spacer" style="width: 283px; height: 10px;"></div>
               <h3 class="padding-bottom">Du er ikke logget inn</h3>
               <p>Bli med på moroa, sank inn poeng ved å registrere og prioritere saker å få flotte cashbacks</p>
               <div class="row">
                 <div class="col">
                   <button class="button button-calm button-block" ui-sref="tabsController.login">Logg inn</button>
                   <a class="button button-assertive button-block" ui-sref="tabsController.register">Registrer deg</a>
                 </div>
               </div>
             </div>
           </center>

            <div class="row score" ng-if="loggedIn">
              <div class="col"><i class="ion-trophy"></i> {{user.score}}</div>
              <div class="col"><i class="ion-ios-pricetags-outline"></i> {{cases.length}}</div>
              <div class="col"><i class="ion-ios-gear"></i></div>
            </div>
        </div>
        <ion-list data-ng-repeat="case in cases">
            <case-list-item data-model="case" data-module="profile"></case-list-item>
        </ion-list>

        <div class="row" ng-if="cases.length <= 0">
         <div class="col padding-vertical">
          <center>
            <span class="subtle-header">FOR EN REN OG PEN BY DU HAR</span>
            <div class="icon-faded icon-large">
              <i class="ion-android-happy"></i>
            </div>
            <span class="subtle-header">INGEN SAKER REGISTRERT</span>
          </center>
         </div>
        </div>
    </ion-content>
</ion-view>
