<ion-view title="INNLOGGING" id="registrer-deg" border="false">
  <ion-nav-title>
    Registrer deg
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div class="logo">
      <center>
        <i class="ion-android-contacts"></i>
        <h1>MinBy</h1>
      </center>
      <div class="spacer" style="height: 40px;"></div>

    </div>
    <center>
      <span ng-if="error" class="text-error">{{error}}</span>
    </center>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Navn:</span>
          <input type="text" placeholder="" ng-model="vm.name">
        </label>
        <label class="item item-input">
          <span class="input-label">E-post</span>
          <input type="text" placeholder="" ng-model="vm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Passord</span>
          <input type="password" placeholder="" ng-model="vm.password">
        </label>
      </ion-list>
      <button id="registrerDeg-button5" class="button button-stable  button-block" data-ng-click="register()">Registrer deg</button>
    </form>
  </ion-content>
</ion-view>
