<ion-item class="item-thumbnail-left item-icon-right" href="{{url}}">
	<img ng-src="{{model.imageData}}" style="margin-top:30px;">

	<div class="row">
		<div class="col">
			<h2><strong> {{model.problem}}</strong></h2>
		</div>
	</div>
	<div class="row">
		<div class="col"><i class="ion-person"></i> {{model.name}}</div>
	</div>
	<div class="row">
		<div class="col"><i class="ion-ios-location"></i> {{model.address}}</div>
	</div>

	<div class="row">
		<div class="col text-left"><i class="ion-ios-heart"></i> {{model.upvotes.length || 0}}</div>
		<div class="col text-right"><i class="ion-ios-lightbulb-outline"></i> {{model.status}}</div>
	</div>

	<i class="icon ion-chevron-right icon-accessory"></i>
</div>
