<ion-view title="" id="details" style="background-color:#BEC6D8;">
	<ion-nav-buttons side="secondary">
        <a style="color: white;" class="button button-icon icon ion-map" href="{{mapLink}}"></a>
    </ion-nav-buttons>
	<ion-content  class="has-header">
		<div class="list card">

		  <div class="item">
		    <h2>{{model.problem}}</h2>
		    <p>  {{model.registeredDate | date : 'dd.MMMM yyyy' }}</p>
		  </div>

		  <div class="item item-body">
		  	<img class="full-image" ng-src="{{model.imageData}}">
		    <p>
		    	<div class="row">
                    <div class="col col-67"><i class="ion-ios-location"></i> {{model.address}}</div>
					<div class="col"><i class="ion-ios-heart"></i> {{model.upvotes.length || 0}} </div>
				</div>
				<div class="row">
                    <div class="col col-67"><i class="ion-person"></i> {{model.name}}</div>
					<div class="col"><i class="ion-ios-lightbulb-outline"></i> {{model.status}}</div>
				</div>
                <div class="row">
                  <div class="col">
                    <p>{{model.description}}</p>
                  </div>
                </div>
		    </p>

		    <p>
		      <a href="#" class="subdued" data-ng-class="{'positive' : hasVoted}" data-ng-click="upvote()">{{model.upvotes.length || 0}} Stemmer</a>
		      <a href="#" class="subdued">5 Kommentarer</a>
		    </p>
		  </div>

		</div>

    </ion-content>
</ion-view>
